<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Taylor Wisler</h1>
  
  <div id="cont" class="container">
  
    <div id = "middle_left" class="container">
      <%= image_tag("profMe.jpg", id: "me") %>
    </div>
    
    <div id = "middle_right" class="container">
    
      <h2>Biography</h2> 
      
      <p >
      My name is Taylor Wisler, and I currently attend 
      <a href="http://trine.edu/">Trine University</a>
       studying as a senior Computer Engineer. Throughout my time here I have completed many projects, for school and on my own.
       I have compiled this website as a way to host and display all of my open source projects for anyone to see. 
      </p>
      
    </div>
    
    <div style="clear: both;"></div>
    
  </div>
  <div id="facebookLink">
    <a href="https://www.linkedin.com/profile/view?id=274294364&trk=nav_responsive_tab_profile">My LinkedIn</a>
  </div>
</div>