<% provide(:title, "Projects") %>
<div >

  <h1>Projects</h1>
  
   <div id="Projects" class="center jumbotron">
      
      <h2 id="ProjectTitles">Senior Design Project</h2>
      <p id="ResumeParagraphs">
          My senior design group of 5 people developed a smart power, or alternative energy system. The system would
          use a solar panel to charge a 12v car battery, and then be able to power typical household appliances such as
          phone chargers or lamps. On the user interface side of things, the user is able to control the system with a
          simple android application. The user is able to turn on or off three seperate loads, change between the battery
          supply or the grid power, and check the current charge of the battery via a graph. The other 4 students were
          electrical engineers, so my portion of the project was the entire software end.<br><br>
          
          The way that I decided to handle the system was by dividing the project into three parts that communicated
          using HTTP requests. The three parts were an android application that the users interfaced with, a Ruby on Rails
          website that was used as a median, and a Python script on a Raspberry Pi that physically controlled the loads and
          read from the battery. Here is a simple block diagram of the system:<br>
          
      
          <%= image_tag("SeniorDesignBlockDiagram.png") %>
          <br>
      
      
          The code for my Rails website is in
          <a href="https://ide.c9.io/tawisler11/senior_design">this workspace.</a><br>
          
          This is the bitbucket repository for the 
          <a href="https://bitbucket.org/tawisler11/senior_design_android_app">Android application.</a><br>
          
          This is the bitbucket repository for the 
          <a href="https://bitbucket.org/tawisler11/senior_design_raspberrypi_python">Raspberry Pi script.</a>
          
          
      </p>
      
  </div>
  
  <div id="Projects" class="center jumbotron">
      
      <h2 id="ProjectTitles">Ruby on Rails Personal Website</h2>
      <p id="ResumeParagraphs">
          This website was developed on the 
          <a href="https://c9.io/">Cloud9</a>
           development environment, using Ruby on Rails.<br>
           My 
           <a href="https://ide.c9.io/tawisler11/taylor">workspace</a>
            is public, and is free for anyone to view.
      </p>
      
  </div>
  
  <div id="Projects" class="center jumbotron">
      
      <h2 id="ProjectTitles">Light Organ Project</h2>
      <p id="ResumeParagraphs">
          The Light Organ Project was more of a hobby project that I developed. Some of my friends and I had bought some LED light strips that came with preset
          functionality, and I decided that I could make much more enjoyable modes. I made a small arduino project that could control those LED strips and 
          flash along with my music.<br><br>
          The full arduino code, as well as a schematic of my circuitry can be viewed on my bitbucket
          <a href="https://bitbucket.org/tawisler11/light_organ">Light Organ repository</a>
          in the file /NEW_LED/NEW_LED.ino.
      </p>
      
  </div>
  
  <div id="Projects" class="center jumbotron">
      
      <h2 id="ProjectTitles">Zen Alarm Clock Project</h2>
      <p id="ResumeParagraphs">
          The zen alarm clock was a project for a class where I worked with 3 other team mates. The alarm clock consisted of input buttons, a HD44780 display for the interface and time display, 
          a high power LED that gets progressively brighter, and a buzzer that gets progressively louder.<br><br>
          This project was written in C, and uses queues that we created
          using structs. The program is also structured in a task based system.<br><br>
          The code can be viewed on my bitbucket
          <a href="https://bitbucket.org/tawisler11/light_organ">Zen Alarm Clock Project repository</a>
      </p>
      
  </div>
  
  <div id="Projects" class="center jumbotron">
      
      <h2 id="ProjectTitles">Pong Game</h2>
      <p id="ResumeParagraphs">
          This game was created for my C++ class with a partner. This was our first real experience making a program in a GUI.
          Because we both liked video games, we decided to try recreate the most simple game we could think of: Pong. 
          This project was developed in C++ on the 
          <a href="https://qt-project.org/">QTCreator</a>
           IDE.<br><br>
          
          Our version ofPong can be viewed on my bitbucket
          <a href="https://bitbucket.org/tawisler11/pong-project">Pong Project repository.</a>
      </p>
      
  </div>
  
  <div id="Projects" class="center jumbotron">
      
      <h2 id="ProjectTitles">Asteroids Game</h2>
      <p id="ResumeParagraphs">
          This project is a result of my passion for gaming. I have played video games for all my life, and I have always been interested in the actual
          development process. After I finally had the knowledge necessary to be able to create a basic game, I created my version of Asteroids. This was my
          first real attempt at making a game on my own. The game was designed fully in C++ and developed in the
          <a href="https://qt-project.org/">QTCreator</a>
           IDE.<br><br>
          The whole project including the code and images can be viewed on my bitbucket
          <a href="https://bitbucket.org/tawisler11/light_organ">Asteroids repository.</a>
      </p>
      
      <iframe width="560" height="315" src="https://www.youtube.com/embed/_20ZIM6FGdk" frameborder="0" allowfullscreen></iframe>
      
  </div>
  
  <div id="Projects" class="center jumbotron">
      
      <h2 id="ProjectTitles">"Bounce" Android Game</h2>
      <p id="ResumeParagraphs">
          This is another one of my personal projects that I began working on because I love gaming, and was interested in being able to develop Android applications.
          This game is a simple platform climbing type game, where the ball bounces higher when it hits a platform, pushing up the screen when it reaches the top.
          I developed this game in the 
          <a href="https://www.eclipse.org/">Eclipse</a>
           IDE.<br><br>
          The whole project including the code and images can be viewed on my bitbucket
          <a href="https://bitbucket.org/tawisler11/bounce/">Bounce repository.</a>
      </p>
      
  </div>
  
  
</div>