<% provide(:title, "Resume") %>
<div class="center jumbotron">

<% link_to 'Click to download Word Document of Resume', "ResumeInternetVersion.doc" %>

  <h1>Resume</h1>
  
  <div id="Resume">
  
      <h2 id="ResumeTitles">objective:</h2>
      <p id="ResumeParagraphs">To obtain a computer engineering job utilizing my strong work ethic, and electrical/programming experience.</p><br>
      
      <h2 id="ResumeTitles">education:</h2>
      <p id="ResumeParagraphs">
      Trine University; Angola, IN</p>
      <p id="alignLeft">Bachelor of Science in <b>Computer Engineering</b></p>                                 <p id="alignRight">Anticipated Graduation: May 2015</p><br>
      <div style="clear: both;"></div>
      <p id="ResumeParagraphs"><b>GPA: 3.385 (4.0)</b></p><br>
      
      <h2 id="ResumeTitles">relevant coursework:</h2>
      <p id="ResumeParagraphs">
      Microcontrollers * Embedded Systems * C++ & Object Oriented Design * Object-Oriented Java Programming * Analog Signals * Discrete Electronics * Circuit Analysis * Digital Systems * 
      Computer Logic & Design * CMOS VLSI Design * Software Engineering * Computer Security</p><br>
      
      <h2 id="ResumeTitles">projects:</h2>
      <p id="ResumeParagraphs">
      Stopwatch – Start, stop, and reset buttons. Programmed in Verilog.<br>
      Tachometer – Calculated speed of a spinning wheel and displayed with 5x7 LED Matrix.<br>
      Light Organ – Personal project that changes LED strip colors to music.<br>
      3D TicTacToe Game – 3 player game, transmitting data over the network using QT GUI in C++.<br>
      Zen Alarm Clock – Progressive sound and light over time . Created Queues, Tasks, and Soft timers.</p><br>
      
      <h2 id="ResumeTitles">skills:</h2>
      <p id="ResumeParagraphs">
      <ul id="ResumeParagraphs">
          <li><b>Programming:</b> C, C#, C++, Assembly, Java (Android), Verilog, Python, Ruby on Rails, html/css</li>
          <li><b>Field Related:</b> Soldering, crimping</li>
          <li><b>Field Related Software:</b> Quartus II, Tina, Mathcad, AutoCAD, QT Creator, Netbeans, IAR Workbench, Eclipse, Arduino, Wireshark; Microsoft: Excel, PowerPoint, Word, Publisher, Visio</li>
      </ul>
      </p><br>
      
      
      <h2 id="ResumeTitles">experience:</h2>
      <p id="alignLeft">United Technologies Aerospace Systems; Raleigh, NC</p>                                 <p id="alignRight">05/2014-08/2014</p><br>
      <div style="clear: both;"></div>
      <p id="ResumeParagraphs">
      <b>Embedded Engineering Intern</b>
      <ul id="ResumeParagraphs">
          <li>Testing / Troubleshooting fully operational embedded PCB boards.</li>
          <li>Writing and fixing test procedure documentation.</li>
      </ul> </p> <br>
      
      <p id="alignLeft">Trine University; Angola, IN</p>                                 <p id="alignRight">01/2014-12/2014</p><br>
      <div style="clear: both;"></div>
      <p id="ResumeParagraphs">
      <b>Microcontrollers / Digital Systems Lab Assistant</b>
      <ul id="ResumeParagraphs">
          <li>Assist professor in teaching the Microcontrollers / Digital Systems class laboratory.</li>
          <li>Help students with any issues or questions they have during the laboratory.</li>
      </ul> </p> <br>
      
      <p id="alignLeft">Logikos, Fort Wayne, IN</p>                                 <p id="alignRight">05/2013-08/2013</p><br>
      <div style="clear: both;"></div>
      <p id="ResumeParagraphs">
      <b>Software Engineer Summer Intern</b>
      <ul id="ResumeParagraphs">
          <li>Working on RFID soda machine system with other interns and new engineers.</li>
          <li>Writing scripts, unit tests, debugging various types of software, fixing parts, and soldering.</li>
      </ul> </p> <br>
      
      <h2 id="ResumeTitles">activities/honors:</h2>
      <p id="ResumeParagraphs">
      <ul id="ResumeParagraphs">
          <li>Systems chair, Public relations chair, Steward, and Historian of the Delta Chi Fraternity</li>
          <li>Phi Eta Sigma National Freshman Honor Society 2012</li>
          <li>Dean’s List – Fall 2011, Spring 2012, Fall 2012, Fall 2013</li>
          <li>Wrestling: Team Captain; Team State Champions 2008, 2010; Individual Placer 8th 2010, 6th 2011</li>
          <li>Friendship Delegate to Shiojiri, Japan, Summer 2010</li>
      </ul>
      </p><br>
      
  </div>
  
</div>