@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$websiteTheme: #00BFFF;

/* universal */

.navbar-default {
    background-color: $websiteTheme;
    border-color: #FFF;
}
.navbar-default .navbar-brand {
    color: #000;
}

/* HOME */
#middle_left{
  float:left;
  width:200px;
  padding-left: 50px;
  padding-top: 50px;
}

#middle_right{
  padding-top: 25px;
  float:right;
  text-align:center;
  width: 75%;
}

#facebookLink{
  padding-top:30px;
}

#me{
  width:200px;
  height:auto;
}

#somethingelse{
  width:200px;
  height:auto;
}

#cont{
  padding-top:50px;
}

/* Resume/Projects formatting*/
#Resume{
  padding-bottom:20px;
}

#ResumeTitles{
  font-size:1.5em;
  text-transform:uppercase;
  color:black;
  text-align:left;
  margin-bottom: 10px;
}

#ResumeParagraphs{
  text-align:left;
  font-size: 1.3em;
  font-weight: normal;
  line-height: 1.4em;
}
#alignRight{
  float:right;
  font-size: 1.3em;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom:5px;
  margin-top:5px;
}
#alignLeft{
  float:left;
  font-size: 1.3em;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom:5px;
  margin-top:5px;
}

#ProjectTitles{
  font-size:1.5em;
  text-align:left;
  margin-bottom: 30px;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  //padding-left: 50px;
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1em;
  line-height: 1.2em;
}


/* header */
#LinkColor{
  color:lightgray;
  &:hover{
    color:white;
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: lightgray;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}