<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <%= link_to "Taylor", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Home",    root_path, id:"LinkColor"%></li>
        <li><%= link_to "Projects",    projects_path, id:"LinkColor" %></li>
        <li><%= link_to "Resume",    resume_path, id:"LinkColor" %></li>
      </ul>
    </nav>
  </div>
</header>